body {
  background: rgb(2, 0, 36);
  background: linear-gradient(60deg, rgba(2, 0, 36, 1) 50%, rgb(28, 125, 11) 75%, rgb(14, 41, 99) 100%);
  color: rgb(230, 230, 230);
  height: 100%;
  text-align: center;
  font-family: 'Indie Flower', 'Comic Sans', cursive;
  font-size: 1em;
}

h1 {
  line-height: 1em;
  margin-bottom: 0;
  padding-bottom: 5px;
  font-size: 3em;
  font-weight: bold;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0;
}

h3 {
  font-size: 1.2em;
  text-decoration: underline dashed;
  margin: 10px 0 2px 0;
}

table {
  margin: 2% auto;
  border-collapse: collapse;
}

#table_game {
  position: relative;
  font-size: 120px;
  margin: 1% auto;
  border-collapse: collapse;
}

.td_game {
  border: 4px solid rgb(230, 230, 230);
  width: 90px;
  height: 90px;
  padding: 0;
  vertical-align: middle;
  text-align: center;
}

.fixed {
  width: 90px;
  height: 90px;
  line-height: 90px;
  display: block;
  overflow: hidden;
  cursor: pointer;
}

.td_list, .th_list {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}

.th_list {
  text-decoration: underline;
}

#restart {
  font-size: 3.5em;
  width: 1em;
  height: 0.9em;
  cursor: pointer;
  margin: 0 auto;
  overflow: hidden;
}

.x, .o {
  position: relative;
  top: -8px;
  font-size: 1.5em;
  cursor: default;
}

.x { color: rgb(245, 65, 4); }
.o { color: rgb(4, 247, 166); }

/* modal background */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgb(2, 0, 36);
  background: linear-gradient(60deg, rgba(2, 0, 36, 1) 50%, rgb(28, 125, 11) 75%, rgb(14, 41, 99) 100%);
}

/* modal content */
.modal-content {
  background-color: rgb(240, 240, 240);
  color: rgb(32, 32, 32);
  font-size: 2.5em;
  font-weight: bold;
  margin: 16% auto;
  padding: 20px;
  border: 2px solid black;
  border-radius: 10px;
  width: 380px;
  max-width: 80%;
}

.modal-content p { margin: 0; padding: 0; }

button {
  background-color: rgb(240, 240, 240);
  color:rgb(28, 125, 11) 75%;
  font-size: o.5em;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px 10px;
  margin: 10px;
  cursor: pointer;
}

/* close button for modal dialog */
.close {
  color: rgb(170, 170, 170);
  float: right;
  position: relative;
  top: -25px;
  right: -10px;
  font-size: 34px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.win-color { background-color: rgb(240, 240, 240); }

/* Media Queries for responsiveness */

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.2em;
  }

  h3 {
    font-size: 1em;
  }

  #table_game,
  .fixed {
    font-size: 80px;
  }

  .td_game {
    width: 80px;
    height: 80px;
  }

  .x, .o {
    font-size: 1em;
  }

  #restart {
    font-size: 2.5em;
    width: 0.8em;
    height: 0.7em;
  }

  .modal-content {
    font-size: 1.5em;
    width: 250px; /* Adjusted width */
    margin: 30% auto; /* Adjusted margin */
  }

  .close {
    font-size: 24px;
    top: -15px;
    right: -5px;
  }

  .win-color {
    background-color: rgb(240, 240, 240);
  }
}
