{% load bootstrap4 %}

{% extends 'base.html' %}

{% block content %}
  <h1>Tic Tac Toe</h1>

  <table class="game-board">
    {% for row in game.state|batch:3 %}
      <tr>
        {% for cell in row %}
          <td>
            {% if cell == 'X' %}
              <span class="player-x">X</span>
            {% elif cell == 'O' %}
              <span class="player-o">O</span>
            {% else %}
              <form method="post" action="{% url 'move' game.id %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">-</button>
                <input type="hidden" name="position" value="{{ forloop.counter0 + forloop.parentloop.counter0*3 }}">
              </form>
            {% endif %}
          </td>
        {% endfor %}
      </tr>
    {% endfor %}
  </table>

{% endblock %}
